@model IEnumerable< HussamIdentity.Models.catagorys.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "AllProduct";
}

<h1>AllProduct</h1> 
@if (signInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-warning">Create New</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.ProdcctPrice)
            </th>

            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdcctPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category!.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-warning">Details</a> |
                    @if (signInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-warning">Delete</a>


                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
